<div class="col-sm-12 col-md-6 col-lg-6 p-2 filtr-item" data-category='all, {{ delimit  .tags ","}}'>
  <div class="card mt-1">
    <div class="card">
      <a class="card-header" {{ if .url }}href="{{ .url }}"{{ end }}>
        <div>
          <div class="d-flex">
            {{ if .logo }}
            <img class="card-img-xs" src="{{ .logo | absURL }}" alt="{{ .name }}" />
            {{ end }}
            <h5 class="card-title mb-0">{{ .title }}</h5>
          </div>
          <div class="sub-title">
            <span>{{ .venue }}</span>
            <span>{{ .year }}</span>
          </div>
        </div>
      </a>
      <div class="card-body pt-1 pb-1">
        {{ $authors := .authors}}
        {{ range $author_idx, $author := $authors }}
        {{- if eq $author site.Params.name -}}
          <b>{{ $author | markdownify}}</b>
        {{- else -}}
          {{ $author | markdownify}}
        {{- end -}}
        {{ if le $author_idx (sub (len $authors) 3)}}, {{ end }}{{ if eq $author_idx (sub (len $authors) 2)}} and {{ end }}
        {{ end }}


        <p>{{ .summary | markdownify }}</p>
        <span class="float-right">
          {{ with .links }}
             {{ range $name, $link := . }}
              <a class="btn btn-outline-info btn-sm mb-2" href="{{ $link }}" target="#">{{upper  $name }}</a>
             {{ end }}
          {{ end }}
          {{/*  {{ if .url }}  */}}
          {{/*  <a class="btn btn-outline-info btn-sm mb-2" href="{{ .url }}" target="#">Details</a>  */}}
          {{/*  {{ end }}  */}}
        </span>
      </div>
    </div>
  </div>
</div>