<div class="col-sm-12 col-md-12 col-lg-0 p-2">
    <p class="mb-0" style="font-size:1.1rem"><b style="font-weight: 900">{{with .date}}{{ time .  | time.Format  "02-01-2006" }}:{{end}}</b> {{ .title | markdownify }}</p>
    <!-- <div class="card mt-1">
         <div class="card">
         <a class="card-header" {{ if .url }}href="{{ .url }}"{{ end }}>
         <div>
         <div class="d-flex">
         {{ if .logo }}
         <img class="card-img-xs" src="{{ .logo | absURL }}" alt="{{ .name }}" />
         {{ end }}
         <span>{{ .year }}</span>
         <h5 class="card-title mb-0">{{ .title }}</h5>
         </div>
         </div>
         </a>
         {{ if .summary }}
         <div class="card-body pt-1 pb-1">
         <p>{{ .summary | markdownify }}</p>
         <span class="float-right">
         {{ with .links }}
         {{ range $name, $link := . }}
         <a class="btn btn-outline-info btn-sm mb-2" href="{{ $link }}" target="#">{{upper  $name }}</a>
         {{ end }}
         {{ end }}
         {{/*  {{ if .url }}  */}}
         {{/*  <a class="btn btn-outline-info btn-sm mb-2" href="{{ .url }}" target="#">Details</a>  */}}
         {{/*  {{ end }}  */}}
         </span>
         </div>
         {{ end }}
         </div>
         </div> -->
</div>
