/* ========= Colors ============
Heading:     #1C2D41
Paragraph:   #3C4858
Iconography: #8392A5
Secondary:   #C0CCDA
Dirty Snow:  #E5E9F2
Snow:        #F9FAFC

Magenta: #7551E9
Orange:  #FF7D51
Pink:    #ED63D2
Green:   #2DCA73
Yellow:  #FFC212
*/

body {
  background-color: #f9fafc;
  font-family: "Muli";
  font-size: medium;
}

h1,
h2,
h3,
h4,
h5 {
  color: #1c2d41;
}

strong {
  color: #1c2d41 !important;
}

p {
  color: #3c4858;
}

a {
  color: #248aaa;
}

a:hover {
  color: #207089;
}

.nav-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #8392a5;
}

.btn-dark {
  background-color: #3c4858;
  border-color: #3c4858;
  color: #e5e9f2;
  transition: all 0.3s ease-out;
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: #248aaa;
  border-color: #248aaa;
  transition: all 0.3s ease-out;
}

.btn-outline-info {
  color: #2098d1 !important;
  border-color: #2098d1 !important;
}

.btn-outline-info:hover {
  background-color: #2098d1 !important;
  color: #e5e9f2 !important;
}

.btn-info {
  background-color: #248aaa !important;
  color: #e5e9f2 !important;
}

.btn-info:hover {
  background-color: #2098d1 !important;
  color: #e5e9f2 !important;
}

.bg-white {
  background-color: #f9fafc !important;
}

.bg-dimmed {
  background-color: #e5e9f2;
}

.anchor {
  padding-top: 3.5rem;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.left {
  display: block;
  margin-right: auto;
}

img.right {
  display: block;
  margin-left: auto;
}

.card {
  box-shadow: none;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.card-img-sm {
  width: 32px;
  height: 32px;
}

.card-img-xs {
  width: 24px;
  height: 24px;
}

.card:hover,
.card:focus {
  box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.card .card-head {
  height: 172px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.card-img-top {
  transition: all 0.3s ease-out !important;
}

.card:hover .card-head .card-img-top,
.card:focus .card-head .card-img-top {
  transition: all 0.3s ease-out;
  transform: scale(1.2);
}

.card-body {
  text-align: justify;
}

.sub-title {
  color: #c0ccda;
  font-size: 10pt;
}

/* --- FOOTER START --- */

.footer {
  color: #8392a5 !important;
  background-color: #1c2d41;
  position: relative;
  z-index: 9999;
}

.footer h5 {
  color: #c0ccda;
}

.footer a {
  color: #8392a5;
  transition: all 0.3s ease-out;
}

.footer a:hover {
  margin-left: 5px;
  transition: all 0.3s ease-out;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-top: 5px;
}

.footer hr {
  background-color: #8392a5;
}

.footer p:first-child {
  color: #c0ccda;
}

.footer input {
  background-color: #c0ccda;
}

.footer input:focus {
  background-color: #e5e9f2;
}

.footer #theme {
  color: #c0ccda;
}

.footer #theme img {
  width: 32px;
}

.footer #hugo:hover {
  margin-right: 5px;
  transition: all 0.3s ease-out;
}

/* --- FOOTER END ---- */

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

/* IPad Pro */
@media (max-width: 1024px) {
  .content-section .languageSelector {
    position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    z-index: 10000000;
    background-color: #f9fafc;
    box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
  }
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {

  .skills-section .container,
  .projects-section .container {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .section-holder {
    padding-left: 5px;
    padding-right: 5px;
  }

  .skills-section,
  .projects-section,
  .recent-posts-section,
  .achievements-section {
    padding-left: 0;
    padding-right: 0;
  }
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {}


/* ---- reset ---- */

body {
  /* margin: 0; */
  /*font: normal 75% Arial, Helvetica, sans-serif;*/
}

canvas {
  display: block;
  background: rgb(33, 36, 50);
  position: fixed;
  z-index: -1000;
}

/* ---- particles.js container ---- */

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}