<div class="container-fluid anchor pb-5 projects-section" id="{{ replace (lower .section.name) " " "-" }}">
    {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
    {{ end }}
    <div class="container filtr-projects">
        <div class="row" id="project-card-holder">
            {{ range first 10 .news }}
            {{ partial "cards/single_news" . }}
            {{ end }}
        </div>
    </div>
</div>
