{{ $author:= .Site.Data.author }}
{{ if (index .Site.Data .Site.Language.Lang).author }}
  {{ $author = (index .Site.Data .Site.Language.Lang).author }}
{{ end }}

{{ $sections:= .Site.Data.sections }}
{{ if (index .Site.Data .Site.Language.Lang).sections }}
  {{ $sections = (index .Site.Data .Site.Language.Lang).sections }}
{{ end }}

{{ $copyrightNotice := "© 2020 Copyright."}}
{{ if (index .Site.Data .Site.Language.Lang).site }}
  {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
  {{ if $siteConfig.copyright }}
    {{ $copyrightNotice = $siteConfig.copyright }}
  {{ end }}
{{ end }}

<footer class="container-fluid text-center align-content-center footer pb-2">
  <div class="container pt-5">
    <div class="row text-left">
      <div class="col-md-4 col-sm-12">
        <h5>{{ i18n "navigation" }}</h5>
        {{ if $sections }}
        <ul>
          {{- range sort $sections "section.weight" }}
            {{ if and (.section.enable) (.section.showOnNavbar)}}
            <li class="nav-item">
              <a class="smooth-scroll" href="/#{{ replace (lower .section.name) " " "-" }}">{{ .section.name }}</a>
            </li>
            {{ end }}
          {{- end }}
        </ul>
        {{ end }}

      </div>
      {{ if $author }}
      <div class="col-md-4 col-sm-12">
        <h5>{{ i18n "contact_me" }}</h5>
        <ul>
          {{ range $key,$value:= $author.contactInfo }}
          <li><span>{{ title $key }}: </span> <span>{{ $value }}</span></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ if .Site.Params.newsletter.enable }}
      <div class="col-md-4 col-sm-12">
        <!-- <h5>Newsletter</h5> -->
        <p>{{ i18n "newsletter_text" }}</p>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="{{ i18n "newsletter_input_placeholder" }}"
            />
            <small id="emailHelp" class="form-text text-muted"
              >{{ i18n "newsletter_warning" }}</small
            >
          </div>
          <button type="submit" class="btn btn-info">{{ i18n "submit" }}</button>
        </form>
      </div>
      {{ end }}
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row text-center">
      <!-- <div class="col-md-4">
        <a id="theme" href="https://github.com/hossainemruz/toha" target="#">
          <img src="/assets/images/inverted-logo.png">
          Toha
        </a>
      </div> -->
      <div class="col-md-4 text-center">{{ $copyrightNotice }}</div>
      <!-- <div class="col-md-4 text-right">
        <a id="hugo" href="https://gohugo.io/">{{ i18n "hugoAttributionText" }}
        <img
          src="/assets/images/hugo-logo-wide.svg"
          alt="Hugo Logo"
          height="18"
        />
        </a>
      </div> -->
    </div>
  </div>
</footer>
