<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{- .Site.Title -}}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <!-- import common headers -->
    {{- partial "header.html" . -}}

    <!-- import index page specific headers -->
    <link rel="stylesheet" href="{{ "/css/sections/home.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/about.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/skills.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/experiences.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/education.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/projects.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/recent-posts.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/achievements.css" | relURL }}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <!-- Netlify CMS -->
    <!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->


    <!-- Add Google Analytics if enabled in configuration -->
    {{ if .Site.GoogleAnalytics }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100">

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <!--- ADD HOME SECTION ---------------->
    {{- partial "sections/home.html" . -}}

    <!--- ADD OPTIONAL SECTIONS ----------->
    {{ $sections:= .Site.Data.sections }}
    {{ if (index .Site.Data .Site.Language.Lang).sections }}
      {{ $sections = (index .Site.Data .Site.Language.Lang).sections }}
    {{ end }}

    {{ if $sections }}
      {{ $background:= "bg-white"}}
      {{ range sort $sections "section.weight" }}
        {{ if .section.enable }}
          <div class="container-fluid section-holder d-flex {{ $background }}">
            {{ if .section.template }}
              {{- partial .section.template . -}}
            {{ else }}
              {{- partial (printf "sections/%s.html" (replace (lower .section.name) " " "-")) . -}}
            {{ end }}
          </div>
          <!--- alter background color for next section --->
          {{ if eq $background "bg-white" }}
            {{ $background = "bg-dimmed" }}
          {{ else }}
            {{ $background = "bg-white" }}
          {{end}}
        {{ end }}
      {{ end }}
    {{ end }}

    <!--- ADD FOOTER ----------------------->
    {{- partial "footer.html" . -}}

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}

    <!--- ADD INDEX PAGE SPECIFIC SCRIPTS -->
    <script src="/js/itype.min.js"></script>
    <script src="/js/github-button.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/jquery.filterizr.min.js"></script>
    <script src="/js/particles.min.js"></script>
    <script src="/js/particles.js"></script>
  </body>
</html>
