{{ $width := "100%" }}
{{ $height := "300px" }}
{{ $autoslide := "0" }}

{{ $arrowleft := "fa-chevron-left" }}
{{ $arrowright := "fa-chevron-right" }}

{{/*  {{ if ne (.Get "no-fa") "true" }}
    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{{end}}

{{ if ne (.Get "no-jquery") "true" }}
    <!-- JQuery -->
{{end}}  */}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>


<style>
#slide-window {
    position: relative;
    width: {{ $width }};
    height: {{ $height }};
    overflow: hidden;
    top: 0px;
    left: 0px;
}

#slides-list {
    width: {{ $width }};
    height: {{ $height }};
    position: absolute;
    margin: 0px;
    padding: 0px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.66s ease;
    -webkit-transition: all 0.66s ease;
}

.slide {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: {{ $width }};
    height: {{ $height }};
    background: #ccc;
    text-align: center;
    line-height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transform-style: preserve-3d;
}

.nav {
    position: relative;
    z-index: 9;
    top: 45%;
    cursor: pointer;
    color: #fff;
    opacity: 0.7;
    transition: all 0.66s ease;
    -webkit-transition: all 0.66s ease;
}

.nav:hover {
    opacity: 1.0;
}

#left {
    left: 3%;
    float: left;
}

#right {
    right: 3%;
    float: right;
}
</style>

<!-- Gallery -->
<div id="slide-window">
    <ol id="slides-list">
        {{- with . -}} 
            {{- $files := resources.Match (add . "/*") }} 
            {{- range $files -}} 
                {{/*  {{- $absoluteUrl := print . "/" .Name | absURL }}  */}}
                {{- $image := (resources.Get .).Resize "x500" -}}
                <li class="slide" style="background-image:url({{ $image.RelPermalink }});"></li>
            {{- end }} 
        {{- end }}
    </ol>
    <span class="nav fa {{ $arrowleft }} fa-3x" id="left"></span>
    <span class="nav fa {{ $arrowright }} fa-3x" id="right"></span>
</div>

<script>
sliderJQuery = jQuery.noConflict();
sliderJQuery(function( $ ) {
    $.global = new Object();
    $.global.total = 0;

    $(document).ready(function () {
        var slideWindowWidth = $('#slide-window').width();
        var slideCount = $('#slides-list li').length;
        var totalSlidesWidth = slideCount * slideWindowWidth;
        console.info('hello')
        $.global.item = 0;
        $.global.total = slideCount;

        $('.slide').css('width', slideWindowWidth + 'px');
        $('#slides-list').css('width', totalSlidesWidth + 'px');

        $('#left').click(function () {
            performSlide('back');
        });

        $('#right').click(function () {
            performSlide('forward');
        });

    });

    function performSlide(direction) {
        if (direction == 'back') {
            var nextSlideId = $.global.item - 1;
        }
        if (direction == 'forward') {
            var nextSlideId = $.global.item + 1;
        }

        if (nextSlideId == -1) {
            /* At first position and requesting 'back' -> Go to last item */
            moveCss($.global.total - 1);
        } else if (nextSlideId == $.global.total) {
            /* At last position and requesting 'forward' -> Go to first item */
            moveCss(0);
        } else {
            /* Move to requested item */
            moveCss(nextSlideId);
        }
    }

    function moveCss(nextSlideId) {
        var slideWindowWidth = $('#slide-window').width();
        var margin = slideWindowWidth * nextSlideId;

        $('#slides-list').css('transform', 'translate3d(-' + margin + 'px,0px,0px)');

        $.global.item = nextSlideId;
    }

    {{ if ne $autoslide "0" }}
      var autoSlide = parseInt({{ $autoslide }}, 10);
      var autoSlideInterval;
      function resetAutoSlide(){
        if(autoSlide) {
          if(autoSlideInterval) {
            clearInterval(autoSlideInterval);
          }
          autoSlideInterval = setInterval(function(){
            performSlide('forward');
          }, autoSlide)
        }
      }

    {{- end }}
});
</script>
